# Aula 20 janeiro - 20 jan 2025

# Exercício 1

In [5]:
print("Hello, World!")

Hello, World!

# Exercício 2

In [7]:
# Criar uma lista de exemplo
minha_lista = ["Arroz", "Feijão", "Macarrão"]

# Solicitar ao utilizador que insira algo
item = input("Digite um item para verificar se está na lista: ")

# Verificar se o item está na lista
if item in minha_lista:
    print("O produto está na lista!")
else:
    print("O produto não está na lista.")

O produto está na lista!

# Aula 2 - 22 jan 2025

In [8]:
import pandas as pd

# Criação de um DataFrame
df_dicionario = pd.DataFrame({
    'Produto':["Arroz", "Feijão", "Macarrão"], 
    'Preço': [1.5, 2.0, 1.2]
    })

df_lista = pd.DataFrame([
    ["Arroz", 1.5],
    ["Feijão", 2.0],
    ["Macarrão", 1.2]
    
], columns= ["Produto", "Preço"])

print(df_dicionario)
print(df_lista)

# Produtoes com preço entre 1.5 e 2.0 e não sejam "Arroz"
df_lista[(df_lista["Preço"] > 1.5) & (df_lista["Preço"] <= 2.0) & (df_lista["Produto"] != "Arroz")]

ModuleNotFoundError: No module named 'pandas'

In [3]:
import pandas as pd

# Criação de um DataFrame
df_dicionario = pd.DataFrame({
    'Produto':["Arroz", "Feijão", "Macarrão"], 
    'Preço': [1.5, 2.0, 1.2]
    })

df_lista = pd.DataFrame([
    ["Arroz", 1.5],
    ["Feijão", 2.0],
    ["Macarrão", 1.2]
    
], columns= ["Produto", "Preço"])

print(df_dicionario)
print(df_lista)

# Produtoes com preço entre 1.5 e 2.0 e não sejam "Arroz"
# df_lista[(df_lista["Preço"] > 1.5) & (df_lista["Preço"] <= 2.0) & (df_lista["Produto"] != "Arroz")]
# Para isto aparecer temos que retirar o código abaixo

# Criar uma nova coluna com desconto
df_lista["Preço com Desconto"] = df_lista["Preço"] * 0.9
print(df_lista)

# Criar nova coluna com classificação de Preço
df_lista["Categoria"] = df_lista["Preço"].apply(lambda x: 'Alto' if x >1.5 else 'Baixo')
print(df_lista)

# Substituir valores específicos com replace()
df_lista["Produto"] = df_lista["Produto"].replace("Arroz", "Arroz Integral")
print(df_lista)

# Converter topo de dados com astype()
df_lista["Preço"] = df_lista["Preço"].astype(float)
print(df_lista)
# Não se vê a mudança. Vou fazer com o tipo int
df_lista["Preço com Desconto"] = df_lista["Preço com Desconto"].astype(int)
print(df_lista)

# Aplicar limites com clip() - Ajusta valores sem remover linhas
df_lista["Preço"] = df_lista["Preço"].clip(lower=1.0, upper=2.0)
print(df_lista)

# Substituir valores com base em condição com where()
# Mantém os valores acima de 1.5 e substitui os restantes por 0
df_lista["Desconto"] = df_lista["Preço"].where(df_lista["Preço"] >1.5, other=0)
print(df_lista)

# Aplicar função com map() em uma Series
df_lista["Produto"] = df_lista["Produto"].map({"Arroz Integral": "Arroz", "Feijão": "Feijão Preto"})
print(df_lista)

ModuleNotFoundError: No module named 'pandas'

In [4]:
import os
print(os.getcwd())

/Users/marcita/Library/CloudStorage/GoogleDrive-marciacosta@sonsemtransito.com/O meu disco/Pessoal/GITHUB_fundamentos/python-tools

In [5]:
import os

caminho_arquivo = "/Users/marcita/Downloads/Movies.xlsx"
print(os.path.exists(caminho_arquivo))  # Deve retornar True

True

In [6]:
import pandas as pd

# Caminho para o arquivo no Desktop
caminho_arquivo = "/Users/marcita/Downloads/Movies.xlsx"

# Leitura do Excel
df_movies = pd.read_excel(caminho_arquivo, sheet_name="Films")  # Corrigido o nome da variável

# Mostrar as primeiras linhas do DataFrame
print(df_movies.head(10))

ModuleNotFoundError: No module named 'pandas'

In [12]:
import pandas as pd

# Caminho para o arquivo no Desktop
caminho_arquivo = "/Users/marcita/Downloads/Movies.xlsx"

# Leitura do Excel
df_movies = pd.read_excel(caminho_arquivo, sheet_name="Films")  # Corrigido o nome da variável

# Mostrar as primeiras linhas do DataFrame
print(df_movies.tail())

        ID                  Title Release Date  Run Time            Genre  \
1195  1674     Samson and Delilah   1949-12-21       128            Drama
1196  1675  The NeverEnding Story   1984-04-06        93          Fantasy
1197  1676             Enemy Mine   1985-12-20       108  Science Fiction
1198  1677    In the Line of Fire   1993-07-09       128         Thriller
1199  1678               Outbreak   1995-03-10       128         Thriller

               Director                     Studio        Country Language  \
1195   Cecil B. DeMille         Paramount Pictures  United States  English
1196  Wolfgang Peterson               Bavaria Film        Germany  English
1197  Wolfgang Peterson   Kings Road Entertainment  United States  English
1198  Wolfgang Peterson  Castle Rock Entertainment  United States  English
1199  Wolfgang Peterson      Warner Bros. Pictures  United States  English

     Certificate      Budget   Box Office  Nominations  Oscar Wins
1195           U   2900000.0   25600000.0            5           2
1196           U  27000000.0  100000000.0            0           0
1197          15  29000000.0   12300000.0            0           0
1198          15  40000000.0  177000000.0            3           0
1199          15  50000000.0  189800000.0            0           0

In [13]:
import pandas as pd

# Caminho para o arquivo no Desktop
caminho_arquivo = "/Users/marcita/Downloads/Movies.xlsx"

# Leitura do Excel
df_movies = pd.read_excel(caminho_arquivo, sheet_name="Films")  # Corrigido o nome da variável

# Mostrar as primeiras linhas do DataFrame
print(df_movies.sample(5))

       ID                  Title Release Date  Run Time            Genre  \
515   546      Dog Day Afternoon   1975-09-21       125            Crime
185   187       The Untouchables   1987-06-03       119            Crime
60     62        Minority Report   2002-07-04       145  Science Fiction
959  1433      Where Eagles Dare   1968-12-04       155              War
164   166  A History of Violence   2005-09-23        96            Drama

             Director                 Studio         Country Language  \
515      Sidney Lumet  Warner Bros. Pictures   United States  English
185    Brian De Palma     Paramount Pictures   United States  English
60   Steven Spielberg   Amblin Entertainment   United States  English
959   Brian G. Hutton    Metro-Goldwyn-Mayer  United Kingdom  English
164  David Cronenberg        New Line Cinema   United States  English

    Certificate       Budget   Box Office  Nominations  Oscar Wins
515          15    1800000.0   50000000.0            6           1
185          15   25000000.0  106240936.0            4           1
60           12  102000000.0  358300000.0            1           0
959          PG    7700000.0   21000000.0            0           0
164          18   32000000.0   60740827.0            2           0

In [14]:
import pandas as pd

# Caminho para o arquivo no Desktop
caminho_arquivo = "/Users/marcita/Downloads/Movies.xlsx"

# Leitura do Excel
df_movies = pd.read_excel(caminho_arquivo, sheet_name="Films")  # Corrigido o nome da variável

# Mostrar as primeiras linhas do DataFrame
print(df_movies.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200 entries, 0 to 1199
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            1200 non-null   int64
 1   Title         1200 non-null   object
 2   Release Date  1200 non-null   datetime64[ns]
 3   Run Time      1200 non-null   int64
 4   Genre         1200 non-null   object
 5   Director      1200 non-null   object
 6   Studio        1200 non-null   object
 7   Country       1199 non-null   object
 8   Language      1200 non-null   object
 9   Certificate   1200 non-null   object
 10  Budget        1076 non-null   float64
 11  Box Office    1083 non-null   float64
 12  Nominations   1200 non-null   int64
 13  Oscar Wins    1200 non-null   int64
dtypes: datetime64[ns](1), float64(2), int64(4), object(7)
memory usage: 131.4+ KB
None

In [15]:
import pandas as pd

# Caminho para o arquivo no Desktop
caminho_arquivo = "/Users/marcita/Downloads/Movies.xlsx"

# Leitura do Excel
df_movies = pd.read_excel(caminho_arquivo, sheet_name="Films")  # Corrigido o nome da variável

# Mostrar as primeiras linhas do DataFrame
print(df_movies.describe())

                ID         Release Date     Run Time        Budget  \
count  1200.000000                 1200  1200.000000  1.076000e+03
mean    833.649167  1991-10-04 13:27:36   119.652500  5.499924e+07
min       1.000000  1921-01-21 00:00:00    68.000000  3.000000e+04
25%     307.750000  1979-08-10 06:00:00   102.000000  8.425000e+06
50%     705.000000  1996-05-30 00:00:00   116.000000  3.000000e+07
75%    1373.250000  2007-08-22 00:00:00   131.000000  8.200000e+07
max    1678.000000  2016-12-21 00:00:00   260.000000  3.785000e+08
std     558.618331                  NaN    24.661615  6.141177e+07

         Box Office  Nominations   Oscar Wins
count  1.083000e+03  1200.000000  1200.000000
mean   2.342372e+08     1.839167     0.569167
min    2.724450e+05     0.000000     0.000000
25%    4.233279e+07     0.000000     0.000000
50%    1.243000e+08     0.000000     0.000000
75%    3.301000e+08     3.000000     0.000000
max    2.788000e+09    14.000000    11.000000
std    2.874345e+08     2.981170     1.491220

In [17]:
import pandas as pd

# Caminho para o arquivo no Desktop
caminho_arquivo = "/Users/marcita/Downloads/Movies.xlsx"

# Leitura do Excel
df_movies = pd.read_excel(caminho_arquivo, sheet_name="Films")  # Corrigido o nome da variável

# Mostrar as primeiras linhas do DataFrame
print(df_movies["Studio"])

0            Amblin Entertainment
1            Marvel Entertainment
2                   WingNut Films
3              Legendary Pictures
4                20th Century Fox
                  ...
1195           Paramount Pictures
1196                 Bavaria Film
1197     Kings Road Entertainment
1198    Castle Rock Entertainment
1199        Warner Bros. Pictures
Name: Studio, Length: 1200, dtype: object

In [18]:
import pandas as pd

# Caminho para o arquivo no Desktop
caminho_arquivo = "/Users/marcita/Downloads/Movies.xlsx"

# Leitura do Excel
df_movies = pd.read_excel(caminho_arquivo, sheet_name="Films")  # Corrigido o nome da variável

# Mostrar as primeiras linhas do DataFrame
print(df_movies.iloc[0])

ID                                 1
Title                  Jurassic Park
Release Date     1993-06-11 00:00:00
Run Time                         126
Genre                      Adventure
Director            Steven Spielberg
Studio          Amblin Entertainment
Country                United States
Language                     English
Certificate                       PG
Budget                    63000000.0
Box Office              1029939903.0
Nominations                        3
Oscar Wins                         3
Name: 0, dtype: object

In [19]:
import pandas as pd

# Caminho para o arquivo no Desktop
caminho_arquivo = "/Users/marcita/Downloads/Movies.xlsx"

# Leitura do Excel
df_movies = pd.read_excel(caminho_arquivo, sheet_name="Films")  # Corrigido o nome da variável

# Mostrar as primeiras linhas do DataFrame
print(df_movies.loc[1])

ID                                 2
Title                     Spider-Man
Release Date     2002-05-03 00:00:00
Run Time                         121
Genre                         Action
Director                   Sam Raimi
Studio          Marvel Entertainment
Country                United States
Language                     English
Certificate                      12A
Budget                   140000000.0
Box Office               821708551.0
Nominations                        2
Oscar Wins                         0
Name: 1, dtype: object

In [23]:
import pandas as pd

# Caminho para o arquivo no Desktop
caminho_arquivo = "/Users/marcita/Downloads/Movies.xlsx"

# Leitura do Excel
df_movies = pd.read_excel(caminho_arquivo, sheet_name="Films")  # Corrigido o nome da variável

# Mostrar as primeiras linhas do DataFrame
print(df_movies[df_movies["Oscar Wins"] > 4])

        ID                                      Title Release Date  Run Time  \
4        6                                    Titanic   1998-01-23       194
55      57                                The Aviator   2004-12-25       170
61      63                Terminator 2: Judgement Day   1991-08-16       136
66      68                                  Gladiator   2000-05-05       155
71      73  The Lord of the Rings: Return of the King   2003-12-17       201
99     101                                 Braveheart   1995-05-24       177
112    114                        Saving Private Ryan   1998-07-24       170
186    188                           Schindler's List   1993-12-15       197
192    194                                     Gandhi   1982-12-02       188
195    197                    Raiders of the Lost Ark   1981-06-12       115
197    200                         Dances with Wolves   1990-10-19       180
207    210                            American Beauty   1999-09-08       122
226    229          Star Wars: Episode IV: A New Hope   1977-05-25       121
242    246                Around the World in 80 Days   1956-10-17       183
279    287                                    Gravity   2013-10-04        91
367    376                        Shakespeare in Love   1998-12-03       123
409    420                   The Silence of the Lambs   1991-02-14       118
450    464                              Out Of Africa   1985-12-18       161
461    477                        Terms of Endearment   1983-12-09       132
486    510                          Kramer vs. Kramer   1979-12-19       105
499    525                            The Deer Hunter   1978-12-08       183
514    545            One Flew Over the Cuckoo's Nest   1975-11-19       133
522    558                      The Godfather Part II   1974-12-12       202
525    563                                  The Sting   1973-12-26       129
534    578                                    Cabaret   1972-02-13       124
536    583                      The French Connection   1971-10-09       104
543    593                                     Patton   1970-04-02       170
555    615                                    Oliver!   1968-09-26       153
564    638                         The Sound of Music   1965-03-02       174
565    639                             Doctor Zhivago   1965-12-22       193
568    647                               Mary Poppins   1964-08-27       139
569    648                               My Fair Lady   1964-11-09       170
578    664                         Lawrence of Arabia   1962-12-10       222
582    674                            West Side Story   1961-10-18       152
594    694                                    Ben-Hur   1959-11-18       212
603    714               The Bridge on the River Kwai   1957-10-02       161
609    727                             The King and I   1956-06-28       133
617    754                      From Here to Eternity   1953-08-05       118
636    893                         Gone with the Wind   1939-12-15       221
852   1326                        Slumdog Millionaire   2008-08-30       120
1010  1485                                       Hugo   2011-10-10       126
1018  1493                         Mad Max: Fury Road   2015-05-07       120
1071  1547                        The English Patient   1996-11-15       162
1079  1555                            The Hurt Locker   2008-09-04       131
1189  1668                          On the Waterfront   1954-07-28       108
1193  1672                         A Place in the Sun   1951-08-14       122

                Genre               Director                           Studio  \
4             Romance          James Cameron                 20th Century Fox
55          Biography        Martin Scorsese                     Forward Pass
61    Science Fiction          James Cameron                 Carolco Pictures
66          Adventure           Ridley Scott           Scott Free Productions
71            Fantasy          Peter Jackson                    WingNut Films
99            History             Mel Gibson                 Icon Productions
112               War       Steven Spielberg             Amblin Entertainment
186           History       Steven Spielberg             Amblin Entertainment
192         Biography   Richard Attenborough                  Goldcrest Films
195         Adventure       Steven Spielberg                        Lucasfilm
197           Western          Kevin Costner                  Tig Productions
207             Drama             Sam Mendes              Jinks/Cohen Company
226   Science Fiction           George Lucas                        Lucasfilm
242         Adventure       Michael Anderson                   United Artists
279   Science Fiction         Alfonso Cuaron                     Heyday Films
367   Romantic Comedy            John Madden        The Bedford Falls Company
409          Thriller         Jonathan Demme    Strong Heart/Demme Production
450           Romance         Sydney Pollack                   Mirage Studios
461             Drama        James L. Brooks               Paramount Pictures
486             Drama          Robert Benton                Columbia Pictures
499             Drama         Michael Cimino                        EMI Films
514             Drama           Milos Forman                   United Artists
522             Crime   Francis Ford Coppola               Paramount Pictures
525             Crime        George Roy Hill               Universal Pictures
534           Musical              Bob Fosse                   Allied Artists
536             Crime       William Friedkin                 20th Century Fox
543         Biography  Franklin J. Schaffner                 20th Century Fox
555           Musical             Carol Reed                Columbia Pictures
564           Musical            Robert Wise                 20th Century Fox
565           Romance             David Lean              Metro-Goldwyn-Mayer
568           Musical       Robert Stevenson             Walt Disney Pictures
569           Musical           George Cukor            Warner Bros. Pictures
578         Biography             David Lean                 Horizon Pictures
582           Musical            Robert Wise   The Mirisch Production Company
594             Drama          William Wyler              Metro-Goldwyn-Mayer
603               War             David Lean                 Horizon Pictures
609           Musical            Walter Lang                 20th Century Fox
617             Drama         Fred Zinnemann                Columbia Pictures
636           Romance         Victor Fleming  Selznick International Pictures
852             Drama            Danny Boyle             FilmFour Productions
1010        Adventure        Martin Scorsese               Paramount Pictures
1018           Action          George Miller                   Kennedy Miller
1071          Romance      Anthony Minghella                    Miramax Films
1079              War        Kathryn Bigelow             Summit Entertainment
1189            Crime             Elia Kazan                 Horizon Pictures
1193            Drama         George Stevens               Paramount Pictures

             Country Language Certificate       Budget    Box Office  \
4      United States  English          12  200000000.0  2.186772e+09
55     United States  English         12A  110000000.0  2.146088e+08
61     United States  English          15  100000000.0  5.168162e+08
66     United States  English          15  103000000.0  4.576000e+08
71       New Zealand  English         12A   94000000.0  1.119930e+09
99     United States  English          15   72000000.0  2.104099e+08
112    United States  English          15   70000000.0  4.818409e+08
186    United States  English          15   22000000.0  3.212000e+08
192   United Kingdom  English          PG   22000000.0  5.276789e+07
195    United States  English          PG   18000000.0  3.899000e+08
197    United States  English          15    2000000.0  4.242088e+08
207    United States  English          18   15000000.0  3.562966e+08
226    United States  English           U   11000000.0  7.754000e+08
242    United States  English           U    6000000.0  4.200000e+07
279    United States  English         12A  100000000.0  7.232000e+08
367   United Kingdom  English          15   25000000.0  2.893000e+08
409    United States  English          18   19000000.0  2.727000e+08
450    United States  English          PG   28000000.0  1.285000e+08
461    United States  English          15    8000000.0  1.084000e+08
486    United States  English          PG    8000000.0  1.062600e+08
499    United States  English          18   15000000.0  4.900000e+07
514    United States  English          18    3000000.0  1.090000e+08
522    United States  English          18   13000000.0  5.730000e+07
525    United States  English          PG    5500000.0  1.596000e+08
534    United States  English          15    2285000.0  4.276500e+07
536    United States  English          18    1800000.0  5.170000e+07
543    United States  English          PG   12600000.0  6.180000e+07
555   United Kingdom  English           U   10000000.0  7.740000e+07
564    United States  English           U    8200000.0  2.862000e+08
565   United Kingdom  English          15   11000000.0  1.117000e+08
568    United States  English           U          NaN  1.023000e+08
569    United States  English           U   17000000.0  7.200000e+07
578   United Kingdom  English          PG   15000000.0  7.000000e+07
582    United States  English          PG    6000000.0  4.370000e+07
594    United States  English          PG   15200000.0  1.469000e+08
603   United Kingdom  English           U    2800000.0  3.060000e+07
609    United States  English           U    4550000.0  2.130000e+07
617    United States  English          PG    2500000.0  3.050000e+07
636    United States  English          PG    3850000.0  1.980000e+08
852   United Kingdom  English          15   15000000.0  3.779000e+08
1010  United Kingdom  English           U  170000000.0  1.858000e+08
1018       Australia  English          15  150000000.0  3.784000e+08
1071  United Kingdom  English          15   27000000.0  2.320000e+08
1079   United States  English          15   15000000.0  4.920000e+07
1189   United States  English          PG     910000.0  9.600000e+06
1193   United States  English          PG    2295000.0  7.000000e+06

      Nominations  Oscar Wins
4              14          11
55             11           5
61              4           6
66             12           5
71             11          11
99             10           5
112            11           5
186            12           7
192            11           8
195             9           5
197            12           7
207             8           5
226            11           7
242             8           5
279            10           7
367            13           7
409             7           5
450            11           7
461            11           5
486             9           5
499             9           5
514             9           5
522            11           6
525            10           7
534            10           8
536             8           5
543            10           7
555            11           5
564            10           5
565            10           5
568            13           5
569            12           8
578            10           7
582            11          10
594            12          11
603             8           7
609             9           5
617            13           8
636            13           8
852            10           8
1010           11           5
1018           10           6
1071           12           9
1079            9           6
1189           12           8
1193            9           6

In [54]:
import pandas as pd

# Criação de um DataFrame
df = pd.DataFrame({
    'Produto':["Arroz", "Feijão", "Macarrão", "Batata"], 
    'Preço': [1.2, 2.5, 1.8, 0.9],
    "Stock": [100, 50, 70, 30]
    })
print(df)

# Filtrar produtos com preço maior que 1.5
df_filtrado = df[df["Preço"] > 1.5]
print(df_filtrado)

    Produto  Preço  Stock
0     Arroz    1.2    100
1    Feijão    2.5     50
2  Macarrão    1.8     70
3    Batata    0.9     30
    Produto  Preço  Stock
1    Feijão    2.5     50
2  Macarrão    1.8     70

In [9]:
import pandas as pd
print(pd.__version__)

ModuleNotFoundError: No module named 'pandas'